/* =====GENERAL STYLES===== */

* {
  box-sizing: border-box;
}

h1,h2,h3,ul,ol,p,img {
  margin-bottom: 1.5rem;
}
body {
  background: url(assets/wedding-landing-background.png);
  font-family: 'Libre Baskerville', serif;
  font-size: 1.125rem;
  line-height: 1.5;
  color: #444349;
  width: 100vw;
}
.locations,
.program,
.gifts,
.faq,
.contact {
  width: 90%;
  text-align: center;
  margin: 1.5rem auto;
  padding: .5rem 1rem; 
}
h1, h2 {
  font-family: 'Great Vibes', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 1.5rem;
}
a {
  text-decoration: none;
  color: #bd806e;
}
a:hover {
  color: #eda087;
  transition: color .15s ease-in-out;
}

/* ====HEADER STYLES===== */

.cover {
  background: url(assets/wedding-landing-cover.jpg) no-repeat 70% center/cover;
  width: 100vw;
  height: 100vh;
  color: hsla(0,0%,100%,.9);
  display: table;
}
.hero-text-wrapper {
  display: table-cell;
  vertical-align: middle;
}
.hero-text {
  background-color: hsla(100,0%,0%,.5);
  padding: 625.rem;
  text-align: center;
}
.hero-text h1 {
  color: #d2ba87;
  margin-bottom: 0;
  font-size: 3.15rem;
}
.tagline {
  font-size: 1.25rem;
  letter-spacing: .15rem;
}
.tagline::after {
  content:"";
  display: block;
  background-color: #fff;
  height: 1px;
  width: 12.515625rem;
  margin: .5rem auto;
  
}
.date {
  font-size: 1.25rem;
  letter-spacing: .15rem;
  vertical-align: middle; 
}
.date::before,
.date::after {
  display: inline-block;
  content: "";
  background-color: #fff;
  height: 1px;
  width: 1.5rem;
  vertical-align: middle;
  margin: 0 .5rem;
}
/* =====MAIN STYLES===== */

h2, h3 {
  font-weight: 500;
}
}
.blurb div {
  font-family: 'Mulish', sans-serif;
  font-weight: 600;
}
.gifts img,
.blurb img {
  width: 8rem;
  height: auto;
}
.blurb::after {
  content:"";
  display: block;
  background-color: #444349;
  height: 2px;
  width: 8rem;
  margin: 2rem auto;
}
.program {
  background-color: hsla(100,0%,0%,.6);
  color: #d2ba87;
  font-family: 'Mulish', sans-serif;
  font-weight: 600;
  width: 100vw;
}
.program h2 {
  margin-top: 1rem;
}
.program-wrapper,
.question,
.answer {
  text-align: left;
}
.program-wrapper p {
  font-style: italic;
}
.gifts p {
  font-weight: 600;  
}
.faq {
  background-color: hsla(100,0%,0%,.6);
  color: #d2ba87;
  width: 100vw;
}
.question,
.answer {
  font-family: 'Mulish', sans-serif;
}
.question {
  font-weight: 600;
}
.answer {
  font-weight: 500;
}
.question-group::after {
  content:"";
  display: block;
  background-color: #d2ba87;
  height: 2px;
  width: 8rem;
  margin: 2rem auto;
}
.contact {
  font-weight: 600;
  padding: 0 2rem 0 2rem;
}

/* =====FOOTER STYLES===== */

footer {
  height: 10vh;
  width: 100vw;
  background-color: #606060;
  color: #fff;
  font-family: 'Muli', sans-serif;
  display: table;
  text-align: center;
  font-size: .875rem;
}
.footer-wrapper {
  display: table-cell;
  vertical-align: middle;
  padding: .5rem 1rem;
}
footer p {
  margin-bottom: 0;
}

footer small {
  line-height: 1.5;
}

/* =====RESPONSIVE===== */

@media (min-width:768px) {
    
  .cover {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero-text {
    padding: 2rem;
    border-color: hsla(100,0%,0%,.5); 
    border-radius: 4px;
  }
  .hero-text-wrapper {
    width: 50%;
  }
  .hero-text h1 {
    font-size: 7rem;
  }    
  .tagline {
    text-transform: uppercase;
  }
  .blurb {
    display: inline-block; 
    width: 30%;
    padding: 1.5rem;
    margin: .5rem;
  }  
  .blurb::after {
    display: none;
  }
  .program-wrapper {
    width: 30vw;
    margin: 0 auto;
  }
  @media (min-width: 768px) {

  .question-group {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    padding: 1.5rem;
    margin: .5rem;
  }

  .question-group::after {
    display: none;
  }

  .question-group h3 {
    text-align: left;
  }
  .footer {
    min-height: 7vh;
  }
}












